@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.registrationButton {
  width: 300px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 10px;
  margin: 0 auto;
  border-color: #000;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
}
/* .InviteButton {
  width: 192px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 10px;
  margin: 0 auto;
  border-color: #000;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
} */
.addButton {
  width: 44px;
  height: 47px;
  top: 252px;
  left: 360px;
  gap: 0px;
  border-radius: 12px;
  /* opacity: 0; */
  background: rgba(102, 102, 102, 1);
  color: #fff;
}
.csvAddButton {
  width: 48px;
  height: 47px;
  top: 252px;
  left: 360px;
  gap: 0px;
  border-radius: 12px;
  border: 1px solid;
  /* opacity: 0; */
  color: rgba(102, 102, 102, 1);
  background: #fff;
}
.SearchButton {
  width: 138px;
  height: 47px;
  top: 252px;
  left: 360px;
  margin-right: -40px;
  gap: 0px;
  border-radius: 12px;
  /* border: 1px solid; */
  /* opacity: 0; */
  color: rgba(102, 102, 102, 1);
  background: #fff;
}
/*  */
